body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

.bg-primary {
    background: var(--primary-color);
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 2rem;
    z-index: 1;
    width: 100%;
    border-bottom: solid 1px var(--primary-color);
    opacity: 0.9;
    margin-bottom: 1rem;
}

.navbar h1 {
    margin-bottom: 0.6rem;
}

.card-body {
    height: 100px;
    overflow: hidden;
}

.invisible-content {
    display: none;
}

.waves-effect.waves-orange {
    background-color: orange;
}

.small-container {
    height: 75px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

nav,
nav > .brand-logo {
    height: 45px !important;
    line-height: 45px !important;
}

.icon {
    margin-top: -10px !important;
    margin-right: -2px !important;
    margin-left: 10px !important;
}
